<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aaa.mapper.DepartmentMapper">
 <select id="departmentList" resultType="departments">
     select *from departments
     <where>
         <if test="department!=null and department!=''">
             department like concat('%',concat(#{department},'%'))
         </if>
     </where>
 </select>
    <insert id="addDepartment" parameterType="departments">
        insert into departments(department)values(#{department})
    </insert>
    <delete id="deleteDepartment" parameterType="Integer">
        delete from departments where departmentId=#{departmentId}
    </delete>
    <select id="count" resultType="int">
        select count(*) from departments where department = #{department}
    </select>
</mapper>