<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aaa.mapper.LdrugMapper">
    <select id="selDrug" parameterType="Lpharmacy" resultType="Lpharmacy">
        select p.pharmacyId,p.pharmacyName,p.drugstoreId rugstoreId,p.skullId,p.warehouseId,p.unit unitId,p.sellingPrice,
        p.area areaId,p.type typeId,p.produceDate,p.validDate,p.drugstorenum,p.skullbatch,u.unitName,a.areaName,t.typeName from pharmacy p,unit u,area a,type t
        <where>
            p.unit=u.unitId and p.area=a.areaId and p.type=t.typeId
            <if test="pharmacyName!=null and pharmacyName!=''">
                and p.pharmacyName like concat('%',concat('#{pharmacyName}','%'))
            </if>
        </where>
    </select>
</mapper>